<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!--个人信息-->
<div th:fragment="aside">
    <div class="hao-right layui-show-xs-block">
        <div class="hao-list">
            <ul>
                <li>
                    <img src="style/images/myPicture.jpg">
                </li>
                <li class="am-kai hao-li">
                    <h1>Hao</h1>
                </li>
                <li>
                    <p class="am-kai hao-mingyan">&nbsp;&nbsp;&nbsp;I`m cool boy :)</p>
                </li>
                <li>
                    <p class="hao-weixin"><span class="am-icon-weixin">:feng_jiahao@qq.com</span></p>

                    <p class="hao-weixin"><span class="am-icon-qq">:920766616</span></p>
                </li>
                <li class="hao-hr"></li>
                <li class="hao-icon layui-row">
                    <a class="am-icon-github am-icon-md"
                       data-am-popover="{content: 'GitHub', trigger: 'hover focus'}"
                       href="https://github.com/memo012" target="_blank"
                       title="GitHub"></a>
                    <a href="https://blog.csdn.net/qq_41066066" target="_blank" title="CSDN"><img
                            src="style/images/csdn.jpg" data-am-popover="{content: 'CSDN', trigger: 'hover focus'}"
                            style="width: 30px; margin-left: 4%"></a>
                    <a href="##" class="am-primary am-icon-qq am-icon-sm qq"></a>
                    <a href="##" class="am-primary am-icon-wechat am-icon-sm wxchat"></a>
                <li>
            </ul>

        </div>

        <div id="wx_picture" class="picture-size">
            <img src="style/images/wx.png" alt="二维码">
        </div>

        <div id="qq_picture" class="picture-size">
            <img src="style/images/qq.jpg" alt="二维码">
        </div>


        <div class="hao-list">
            <div class="hao-div-div">
                
            </div>

        </div>




        <div class="hao-list">
            <div>
                <h5 class="hao-title">
                    <i class="am-icon-info site-icon"></i>
                    <strong style="margin-left: 4px">网站信息</strong>
                </h5>
                <hr>
                <ul class="site-default">
                    <li>
                        <i class="am-icon-file site-default-icon"></i>
                        <span class="site-default-word">文章总数</span>：<span class="articleCount"></span> 篇
                    </li>
                    <li>
                        <i class="am-icon-tags site-default-icon"></i>
                        <span class="site-default-word">标签总数</span>：<span class="labelCount"></span> 个
                    </li>
                    <li>
                        <i class="am-icon-comments-o site-default-icon"></i>
                        <span class="site-default-word">留言总数</span>：<span class="guestCount"></span> 条
                    </li>
                    <li>
                        <i class="am-icon-commenting-o site-default-icon"></i>
                        <span class="site-default-word">评论总数</span>：<span class="reportCount"></span> 条
                    </li>
                    <li>
                        <i class="am-icon-pencil-square site-default-icon"></i>
                        <span class="site-default-word">网站最后更新</span>：
                        <span class="siteUpdateTime">2020年03月07日23点</span>
                    </li>
                    <li>
                        <i class="am-icon-calendar site-default-icon"></i>
                        <span class="site-default-word">网站运行天数</span>：
                        <span class="siteRunningTime"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>