<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left">
    <div class="hao-lift layui-hide-xs">
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="hao-gonggao">

                <p>我们笑着说再见</p>
                <p>却深知再见遥遥无期</p>
                <p class="last">We laughed and kept saying"see u soon,but inside we both knew we'd never see each other again"</p>
                <p class="hao-name">——《海上钢琴师》</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="hao-gonggao hao-xinxi">
                <p>承受不了就释放</p>
                <p>接受不来的就拒绝</p>
                <p>不喜欢的人就远离</p>
                <p>热爱的事拼命追逐</p>
                <p>日子即便渺小</p>
                <p>也都祝你幸福快乐</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
    </div>
</div>

</body>
</html>