<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="style/js/SuperAdmin.js" th:src="@{/style/js/SuperAdmin.js}"></script>
<body>
<div th:fragment="lunbo">
    <div class="radioBroadcast" style="padding: 1px;">
        <i class="am-icon-volume-up messVO" style="margin-left: 5px;color: #fbd602;"></i>
        <div class="roll">
            <ul>
                <li class="hao-notice-content">新增友链,公告发布功能~~~</li>
                <li>新增友链,公告发布功能~~~</li>
                <li>网站技术不断更新！！！</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>